.container{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 5rem 4fr 5fr;
}
.title{
  grid-area: 1/2/1/5;
}

.maininfo{
  grid-area: 2/2/2/4;
  font-size: larger;
}

.img{
  grid-area: 2/4/2/5;
}

.otherinfo{
  grid-area: 3/2/3/5;
  align-self: center;
}